.view-cart-button {
  background-color: white !important;
  color: black;
  height: 100%;
  border-color: white;
  box-shadow: 0 0 0 0;
}

.view-cart-button:hover {
  color: #707070;
  border-color: white;
}

.view-cart-button:focus {
  color: #707070;
  border-color: white;
  background-color: white;
}

.cart-icon {
  font-size: 2.3rem;
}

.cart-card {
  box-shadow: 5px;
  border-radius: 5px;
}
.cart-image {
  width: 50%;
}
